click==6.6
Flask==0.11.1
gunicorn==19.6.0
heroku==0.1.4
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
pyowm==2.4.0
python-dateutil==1.5
requests==2.11.1
simplejson==3.8.2
Werkzeug==0.11.11
wit==4.1.0
