click==6.6
Flask==0.11.1
gunicorn==19.6.0
heroku==0.1.4
Jinja2==2.8
numpy==1.11.1
pyliblzma==0.5.3
pysolr==3.5.0
python-dateutil==1.5
requests==2.11.1
nltk==3.2.1
virtualenv==15.0.3
Werkzeug==0.11.11
wit==4.1.0
Flask-PyMongo==0.4.1
networkx==1.11
stringscore==0.1.0
